Source: tinker-edge-t
Maintainer: yi-hsin_hung <yi-hsin_hung@asus.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 1.0.0
Homepage: https://aiyprojects.withgoogle.com/

Package: tinker-edge-t
Architecture: all
Depends: ${misc:Depends},
         python3-edgetpuvision
Description: Tinker board T demo application

